body {
    font-family: var(--fonte-principal);
    background-color: #ffffff;
    color: var(--cor-texto-principal);
}

main{
    padding: 2.5rem 0 0;
    max-width: 85rem;
    margin: 0 auto;
}

.btn{
    font-size: 1.25rem;
    height: 3rem;
    padding: 0.625rem 1.25rem;
    border-radius: 1.5625rem;
    font-weight: 400;
    padding: 0.625rem 1.375rem;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.btn-primary-outline {
    background-color: transparent;
    color: var(--cor-superficie);
    border: 2px solid var(--cor-superficie);
    margin-right: 1rem;
    line-height: 1.4375rem;
    transition: color 0.4s ease, transform 0.3s ease;
}

.btn-secondary-fill{
    background-color: var(--cor-superficie);
    color: var(--cor-destaque);
    border: none;
    transition: color 0.4s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-superficie);
    transform: translateY(-0.25rem);
}
