.header{
    background-color: var(--cor-superficie);
    position: fixed;
    top: 3.75rem;
    left: 50%;
    transform: translate(-50%);
    max-width: 82.5rem;
    width: calc(100% - 13.125rem);
    border-radius: 0.9375rem;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.225rem 1.25rem;
    font-weight: 400;
}

.logo img{
    height: 3rem;
}

.navigation-center ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.navigation-right ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.navigation-right img{
    height: 1.25rem;
}

.navigation-center a, .navigation-right a{
    display: flex;
    align-items: center;
    color: var(--cor-texto-principal);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navigation-center a:hover, .navigation-right a:hover{
    color: var(--cor-destaque);
    transform: translateY(-0.25rem);
}
