/* Hero */
.hero {
    background: url('../../images/banners/principal.svg') no-repeat center;
    background-size: cover;
    background-position: center 45%;
    border-radius: 0.9375rem;
    height: 34.375rem;
    text-align: center;
    padding: 0 2.5rem;
    position: relative;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero-content {
    color: var(--cor-superficie);
    max-width: 22.5rem;
    text-align: center;
}

.hero-content .hero-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.08em;
    margin-bottom: 0.625rem;
}

.hero-content .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.08em;
    margin-bottom: 2.5rem;
}
