.categories-section {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: center;
}

.category-card{
    position: relative;
    background-position: center;
    background-size: cover;
    width: 19.75rem;
    height: 31.25rem;
    border-radius: 0.9375rem;
    overflow: hidden;
}

.category-link {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.15);
}

.category-name{
    color: var(--cor-superficie);
    margin-top: 0.625rem;
    position: absolute;
    z-index: 1;
}

.category-card:hover .category-name {
    background-color: var(--cor-destaque);
    color: var(--cor-superficie);
    transform: translateY(-0.25rem);
}


.casual{
    background-image: url('../../images/products/tênis casual.svg');
}

.colorido{
    background-image: url('../../images/products/tênis colorido.svg');
}

.esportivo{
    background-image: url('../../images/products/tênis esportivo.svg');
}

.futurista{
    background-image: url('../../images/products/tênis futuro.svg');
}
